/* General page styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f7fa;
  color: #333;
}

/* Container for the entire app */
.app-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for sign-in container */
.sign-in-container {
  margin-top: 300px;
}

.sign-in-container button {
  margin: 10px;
}
